---
title: Defence Force Medical Services
layout: regular-page.njk
---


<div>
  <p>
    Defence Force medical services is the overall advisor on health matters
    to the Ministry of Defence and the services [Army, Air Force and Zambia National Service (ZNS)].
  </p>

  <h4>Functions</h4>

  <ul>
    <li>
      To provide quality health care in order to maintain a healthy Defence
      Force and Zambia National Service.
    </li>
    <li>
      To effectively manage and develop human resources in order to enhance
      organisational performance.
    </li>
  </ul>

  <h4>Maina Soko Military Hospital</h4>

  <p>
    Maina soko military hospital draws its manpower from the three (03)
    services namely Zambia Army, Zambia Air Force and Zambia National
    Service and a few civilian staff from the Ministry of Defence.
  </p>

  <h4>Function</h4>

  <p>
    The function of the hospital is to provide quality health care services
    to military personnel in order to maintain a healthy Defence Force. It
    also caters for immediate family members both in war and peace time.
  </p>

  <h4>Northern Command Military Hospital</h4>

  <p>
    Northern Command Military Hospital (NCMH) is charged with the
    responsibility of providing health care to the military personnel of the
    three services and civilians in the catchment area.
  </p>

  <h4>Functions</h4>

  <p>The functions include <span>:-</span></p>

  <ul>
    <li>
      Provision of quality, accurate efficient health care services to all
      military personnel, their families living in the northern region of
      Zambia, general public, VIPs and other Government dignitaries as
      advised by the Ministry of Defence
    </li>
    <li>
      Participate in national, provincial health programs including
      management and mitigation of epidemic diseases, and natural disaster
      programs.
    </li>
  </ul>

  <h4>Defence School of Health Sciences</h4>

  <p>
    The Defence School of Health Sciences (DSHS) is responsible for
    providing training to military personnel that have relevant entry
    qualification and upgrade those with basic professional training, so as
    to improve and maintain professional competence.
  </p>

  <h4>Functions</h4>
  <ul>
    <li>
      Train health care personnel through pre- course and in service
      training in accordance with the laid down requirements by regulatory
      body authorities in order to maintain a professionally competent work
      force in the provision of quality health care to personnel and
      civilians living in the catchment areas.
    </li>
    <li>
      Conduct research, disseminate and utilizes findings in order to
      contribute to policy formulation and provision of quality, evidence-
      based healthcare in accordance with guidelines set by the health
      regulatory bodies.
    </li>
  </ul>
</div>

