---
title: Department of Centralized Procurement and Supplies
layout: regular-page.njk
---

<div>
  <p>
    The Department of Centralized Procurement and Supplies is responsible for
    the procurement of goods, services and works as well as giving guidance on
    the procurement of goods, services and works for items valued above Five
    Hundred Thousand Kwacha
    <span>(K500,000.00)</span> threshold.
  </p>

  <h4>Functions</h4>

  <ul>
    <li>
      Effectively and efficiently co-ordinate procurement of goods, services and
      works.
    </li>
    <li>
      Ensure that the tender procedures, financial regulations and other
      instructions issued by government from time to time in respect of
      procurement and supplies activities are adhered to.
    </li>
    <li>
      Facilitate and conduct new product or service presentations, promotions,
      demonstrations, exhibitions or trials by suppliers, contractors and
      service providers.
    </li>
  </ul>
</div>
