---
title: Department of Human Resources and Administration
layout: regular-page.njk
---

<div>
  <p>
    The Department of Human Resources and Administration is responsible for
    human resources management and development as well as providing an efficient
    and effective overall administrative support service to all sections of the
    ministry. It comprises four (4) units namely <span>:-</span>
  </p>

  <ul>
    <li>Administration – Human Resources and Management.</li>
    <li>Human Resources Development.</li>
    <li>Registry.</li>
    <li>Transport Management.</li>
  </ul>

  <h4>Functions</h4>

  <p>
    The department is responsible for the following functions
    <span>:-</span>
  </p>

  <ul>
    <li>Staff welfare</li>
    <li>
      Staff appointments, promotions, retirements, transfers and discipline.
    </li>
    <li>Office management and maintenance services.</li>
    <li>Transport management.</li>
    <li>Employee training.</li>
    <li>Records management.</li>
    <li>Secretarial services.</li>
  </ul>
</div>
