---
title: Ex-Servicemen’s Affairs Directorate
layout: regular-page.njk
---

<div>
  <p>
    The ex-servicemen’s affairs directorate is responsible for coordinating
    the activities and welfare of the soldiers who fought in the first and
    second world wars and the pre and post-independence ex-servicemen.
  </p>

  <h4>Functions</h4>

  <p>Its functions are <span>:-</span></p>
  <ul>
    <li>
      To co-ordinate activities of ex-servicemen’s league of Zambia and also
      undertake Government functions which endeavor to promote the general
      welfare of the war veterans and ex-servicemen.
    </li>
    <li>
      To inspect and report on the physical state of war graves and memorial
      sites in Zambia.
    </li>
    <li>
      Liaise with royal commonwealth ex-services league in the united kingdom
      (UK) on the general welfare of World War I and II veterans.
    </li>
  </ul>
</div>

