---
title: Internal Audit Unit
layout: regular-page.njk
---

<div>
  <p>
    The Internal Audit Unit is an independent appraisal unit in the ministry
    that reports administratively to the permanent secretary (controlling
    officer).
  </p>

  <h4>Functions</h4>

  <ul>
    <li>To determine the accuracy of financial transactions.</li>
    <li>
      To determine the level of compliance with government policies, laws,
      contracts and procedures.
    </li>
    <li>
      To evaluate financial and operational systems/processes for effectiveness
      and adequacy of internal controls and provide advice and guidance on
      control aspects of new policies, systems and procedures.
    </li>
    <li>
      To verify the existence of government assets and recommend improvements to
      management to ensure that proper safeguards are maintained to protect them
      from loss and possible fraud.
    </li>
    <li>
      To provide an advisory service to controlling and accounting officers.
    </li>
    <li>
      To provide internal audit reports to the ministerial audit committee.
    </li>
  </ul>

  <h4>Financial regulations in place</h4>
  
  <ul>
    <li>
      To sensitize and orient the three services both within and outside Lusaka
      in various financial management aspects.
    </li>
    <li>
      To generate and produce financial reports for ultimate production of
      Government financial reports.
    </li>
  </ul>
</div>
