---
title: The Chaplaincy
layout: regular-page.njk
---

<div>
  <p>
    The Department of Chaplaincy is responsible for directing and coordinating
    the activities of the Chaplaincy in order to ensure that there are effective
    linkages among service chaplains to strengthen systems, improve coordination
    and communication for effective performance of the Chaplaincy.
  </p>

  <p>
    The chaplaincy is comprised of the following sections and units
    <span>:-</span>
  </p>
  <ul>
    <li>The Office of the Chaplain General.</li>
    <li>Office of the Deputy Chaplain General.</li>
    <li>Army Stream.</li>
    <li>Air Force Stream.</li>
    <li>National Service Stream.</li>
    <li>Ministry of Defence Chaplain.</li>
  </ul>

  <h4>Functions</h4>

  <p>The functions are as follows <span>:-</span></p>

  <ul>
    <li>
      Provide policy advice to the government on spiritual and related matters
      in order to facilitate informed decision making.
    </li>
    <li>
      Coordinate the provision of chaplaincy services to defence and security
      wings in order to ensure cohesion.
    </li>
    <li>
      Management of the national house of prayer in order to provide sacred
      space for worship and foster national unity.
    </li>
    <li>
      Provide secretarial services to the national house of prayer advisory
      board in order to facilitate its operations.
    </li>
    <li>
      Provide specialist (technical) advice on religious matters to defence and
      security wings in order to enhance operations.
    </li>
    <li>
      Monitor and evaluate the implementation of chaplaincy programs in order to
      facilitate timely interventions.
    </li>
    <li>
      Conduct research on religious matters in order to generate information for
      decision making and knowledge.
    </li>
    <li>
      Facilitate capacity building of chaplaincy staff to enable them acquire
      knowledge and skills.
    </li>
    <li>
      Collaboration with cabinet office and other stakeholders on state
      functions in order to ensure orderliness.
    </li>
    <li>
      Management of the defence and security choir in order to facilitate its
      operations.
    </li>
  </ul>
</div>
