---
title: About the Ministry
layout: regular-page.njk
---

<main>
  <div class="main-panel-container">
    <div>
      <div>
        <p>
          The Ministry of Defence is charged with the critical responsibility of
          preserving, protecting and defending the sovereignty and territorial
          integrity of Zambia for the sole purpose of ensuring the country, its
          citizens and residents are safe guarded from both internal and
          external aggression.
        </p>

        <p>
          The Ministry of Defence draws its mandate from the Government Gazette
          Notice No.547 of 2004, and is accordingly responsible for the
          following portfolio functions <span>:-</span>
        </p>

        <ul>
          <li>National Defence Policy.</li>
          <li>Zambia Defence Force.</li>
          <li>Zambia National Service.</li>
          <li>Home Guards.</li>
          <li>Combined Cadet Force.</li>
          <li>War Graves and Memorials.</li>
        </ul>

        <p>
          In addition to the portfolio functions highlighted above, the Ministry
          is guided by the following statutes <span>:-</span>
        </p>

        <ul>
          <li>Constitution of Zambia Act Cap 1.</li>
          <li>Zambia Defence Act Cap 106.</li>
          <li>Zambia National Service Act Cap 121.</li>
          <li>Home Guard Act Cap 122.</li>
          <li>Combined Cadet Force Act Cap 118.</li>
          <li>War Graves and Memorials Act Cap179.</li>
        </ul>

        <h4 class="function">
          STRUCTURE OF THE MINISTRY OF DEFENCE DEPARTMENTS/UNITS
        </h4>

        <p>
          The Ministry comprises the Departments and Units stated below
          <span>:-</span>
        </p>

        <ul>
          <li>Human Resources and Administration (HRA).</li>
          <li>Research, Planning and Projects (RPP).</li>
          <li>Accounting Unit.</li>
          <li>Internal Audit Unit.</li>
          <li>Zambia Army (Army).</li>
          <li>Zambia Air Force (ZAF).</li>
          <li>Zambia National Service (ZNS).</li>
          <li>Defence Force Medical Services (DFMS).</li>
          <li>Maina Soko Military Hospital.</li>
          <li>Northern Command Military Hospital.</li>
          <li>Defence School of Health Sciences.</li>
          <li>
            International Military Sports Council &United Nations Liaison
            Office.
          </li>
          <li>Ex-Servicemen Affairs Directorate.</li>
          <li>Defence Services Command and Staff College.</li>
          <li>Chaplaincy.</li>
        </ul>
      </div>
    </div>
  </div>
</main>
