<!-- article snippet -->
<div class="info-card">
  <div class="inner--info-card">
    <div class="headline-title">
      <h4>{{ post.data.title }}</h4>
    </div>
    <div class="name-date-tag">
      <em class="figcap">
        <span class="no-wrap">by <i class="fas fa-user-edit"></i></span>
        <span class="name-tag">{{ post.data.author }}</span>
        <span class="no-wrap">on <i class="far fa-calendar-alt"></i></span>
        <span class="date-tag">{{ post.date | postDate }}</span>
      </em>
    </div>
    <div class="description-paragraph">
      <p>{{ post.data.description }}</p>
    </div>
  </div>

  <div class="btn-box--info-card">
    <a href="{{ post.url }}" class="btn bg-btn--info-card">Read More <span class="right-tee-arrow">&#10511;</span></a>
  </div>
</div>