---
layout: 'base.njk'
---

<!-- article latest speeches and press releases -->
<section class="regular-grid margin-top-bottom">
  <div class="orange-box">
    <div class="title-box--orange-box">
      <h2 class="title--orange-box">Latest Speeches and Press Releases</h2>
    </div>

    <div class="regular-box--orange-box">
      <div class="text-body-content-box--orange-box">        
          <section class="article-box">
                <div>
                    <h4 class="article-title">{{ title }}</h4>
                    <div class="name-date-tag">
                        <span class="no-wrap">by <i class="fas fa-user-edit"></i></span>
                        <span class="name-tag" >{{ author }}</span>
                        <span class="no-wrap">on <i class="far fa-calendar-alt"></i></span>
                        <span class="date-tag">{{ date | postDate }}</span>
                    </div>
                </div>

                <figure class="post-figure">
                    <img src="{{ image }}" alt="{{ imageAlt }}">
                    <figcaption class="figcap"><em>{{ imageAlt }}</em></figcaption>
                </figure>
                
                <article class="content-wrapper">
                    {{ content | safe }}
                </article>
            </section>
        </div>
    </div>
  </div>
</section>
    
