<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{{ meta.siteKeywords }}">
    <meta name="description" content="{{ meta.siteDescription }}">
    <meta name="author" content="{{ meta.authorName }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- The site's title tag element-->
    <title>{{ meta.siteName }} - {{ title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/logos/favicon.ico" type="image/x-icon">

    <!-- Css link -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEK9VHRWGP"></script>
    <script src="/script/google-analytics-gtag.js"></script>
  </head>
  <body> 
    <div class="header-container">
    {% include 'header.njk' %} 

    {% include 'nav.njk' %}
    </div>
    <!-- main -->
    <main> 
    {{ content | safe }}
    </main> 

    {%include 'footer.njk' %}
  </body>

  <!-- responsive navigation js -->
  <script src="/script/nav-responsive-script.js"></script>

  <!-- netlify user identity js -->
  <script src="/script/netlify-user-identity.js"></script>
</html>