<!-- Featured Video -->
<div class="yt-video-container">
  <div class="iframe-panel">
    <iframe
      src="{{ post.data.link }}"
      title="{{ post.data.title }}"
      id="ytplayer"
      allowfullscreen="true"
      loading="lazy"
      controls="1"
    ></iframe>
  </div>
</div>