<!--Main header-->

<header class="header">
    <div class="main-header">
    <div class="logo__one--main">
        <img
        src="/assets/logos/coat-of-arms-logo.webp"
        alt="Zambian coat of arms logo"
        />
    </div>
    <div>
        <h1 class="title--main">Ministry of Defence</h1>
        <p class="sub-title--main">
        A Smart and Value-Centered Public Service
        </p>
    </div>
    <div class="logo__two--main">
        <img
        src="/assets/logos/kisspng-flag-of-zambia.webp"
        alt="Zambian national flag"
        />
    </div>
    </div>
</header>

