{% set currentUrl %}{{ page.url }}{% endset %} 
<!-- navigation -->
<nav>
  <div class="navbar">
    <span class="hamburger-box"><i class="hamburger"></i></span>
    <div class="logo">
      <p>
      <span>CORE VALUES:</span> INTEGRITY . HONESTY . OBJECTIVITY .
      IMPARTIALITY . LOYALTY . RESPECT . ACCOUNTABILITY . EXCELLENCE .
      CONFIDENTIALITY . SELFLESSNCE
      </p>
    </div>
    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name"><a href="/">mod.gov.zm</a></span>
        <i ><svg class="close-btn" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg></i>
      </div>
      <ul class="links" role="list">
        <li>
          <a {% if currentUrl === '/' %} aria-current="page"{% endif %} href="/">HOME</a>
        </li>
        
        <li>
          <button class="toggle-sub-menu-btn">DEPARTMENTS<i class="htmlcss-arrow arrow"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 25 15" width="24px" fill="#ffffff"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg></i></button>
          
          <ul class="htmlCss-sub-menu sub-menu">
            {% for page in collections.departments %}
              <li>
                <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                  {{ page.data.title }}
                </a>
              </li>
            {%- endfor %}
          </ul>
        </li>

        {% for page in collections.mainPages %}
          <li>
            <a {% if currentUrl === page.url %} aria-current="page"{% endif %} href="{{ page.url }}">
              {{ page.data.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
      <div class="privacy-tag"><a href="/pages/privacy/privacy-policy">Privacy policy</a></div>
    </div>
    <div class="search-box">
      <i><svg class="search-btn" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="40px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></i>
      <div class="input-box">
        <input type="text" placeholder="Search." />
      </div>
    </div>      
  </div>
</nav>