---
title: Department of Research, Planning and Projects
layout: regular-page.njk
---

<div>
  <p>
    The Department of Research, Planning and Projects is charged with the
    responsibility of coordinating research and planning programs, monitoring,
    implementation and evaluation of projects. It has the following Units namely
    <span>:-</span>
  </p>

  <ul>
    <li>Research and Planning.</li>
    <li>Projects.</li>
    <li>Information and communications technology.</li>
  </ul>

  <h4>Research and Planning Unit</h4>

  <p>It is responsible for the following functions <span>:-</span></p>
  <ul>
    <li>
      Effectively undertake policy implementation and review in order to adhere
      to guidelines.
    </li>
    <li>
      Regularly undertakes research in cantonments in order to generate
      information for decision making.
    </li>
    <li>
      Undertakes regular formulation of strategic and operational plans in order
      to facilitate implementation of the ministry’s programs.
    </li>
    <li>
      Undertake timely preparation of draft budget plans in order to facilitate
      resource mobilization.
    </li>
    <li>
      Undertakes regular monitoring and evaluation of research and planning
      functions in order to facilitate appropriate interventions.
    </li>
    <li>
      Undertake timely maintenance of data bank in order to facilitate efficient
      storage and retrieval of information.
    </li>
    <li>
      Coordinate preparation of departmental/unit work plans in order to
      facilitate monitoring and evaluation of performance.
    </li>
  </ul>
</div>
