---
title: International Military Sports Council (CISM) / United Nations Liaison Office
layout: regular-page.njk
---

<div>
  <p>
    This is a grant aided unit which co-ordinates participation of the services
    in various sports activities and united nations liaison matters. It is also
    responsible for promoting sport in the Defence Force through the
    international military sports council (cism) and is affiliated to the
    following military sports boards:
  </p>
  <ul>
    <li>International military sports council (cism – brussels).</li>
    <li>Organization of military sports in Africa (osma – yaonde).</li>
    <li>Eastern and Southern Africa Liaison Office (esalo – luanda).</li>
  </ul>
</div>
