---
title: Defence Services Command and Staff College
layout: regular-page.njk
---


<div>
  <p>
    The college is charged with the responsibility of training senior
    defence and security personnel in various fields.
  </p>

  <h4>Functions</h4>
  <ul>
    <li>
      To train selected officers as grade ii staff officers for assumption
      of increasing responsibilities in command and staff appointments for
      the Zambia Defence Forces and the SADC region.
    </li>
    <li>
      Mandate to train officers of the Zambia Defence Force to enhance
      capacity building in military operations.
    </li>
  </ul>
</div>


