--- 
title: Department of Finance 
layout: regular-page.njk 
---

<div>
  <p>The unit is responsible for financial management and accounting.</p>

  <h4>Functions</h4>

  <p>Its functions are <span>:-</span></p>

  <ul>
    <li>
      To provide advice and guidance to the controlling officer on financial
      management.
    </li>
    <li>
      To facilitate interpretation, implementation and coordination of the
      utilization of public funds in line with public finance act and other.
    </li>
  </ul>

  <h4>Internal Audit</h4>

  <p>
    Internal audit is an independent appraisal unit in the ministry that reports
    functionally and administratively to the permanent secretary (controlling
    officer)
  </p>

  <h4>Functions</h4>

  <ul>
    <li>To determine the accuracy of financial transactions.</li>
    <li>
      To determine the level of compliance with government policies, laws,
      contracts and procedures.
    </li>

    <li>
      To evaluate financial and operational systems/processes for effectiveness
      and adequacy of internal controls and provide advice and guidance on
      control aspects of new policies, systems and procedures.
    </li>
    <li>
      To verify the existence of government assets and recommend improvements to
      management to ensure that proper safeguards are maintained to protect them
      from loss and possible fraud.
    </li>
    <li>
      To provide an advisory service to controlling and accounting officers.
    </li>
    <li>
      To provide internal audit reports to the ministerial audit committee.
    </li>
  </ul>

  <h4>Financial regulations in place</h4>

  <ul>
    <li>
      To sensitize and orient the three services both within and outside Lusaka
      in various financial management aspects.
    </li>
    <li>
      To generate and produce financial reports for ultimate production of
      Government financial reports.
    </li>
  </ul>
</div>
