---
title: Zambia Army
layout: regular-page.njk
---

<div>
  <figure>
    <img src="/assets/logos/army-logo.webp" alt="Zambian army logo" />
    <figcaption class="figcap">
      <p>Zambia Army</p>
      <p><em>Defend and Serve with Pride</em></p>
    </figcaption>
  </figure>
  <p>
    The Zambia Army comprises of the regular force, home guard and the
    territorial reserve which is charged with defending the territorial
    integrity of Zambia from external and internal aggression. It is organized
    into seven (07) departments as follows <span>:-</span>
  </p>

  <ul>
    <li>Operations and Training Branch.</li>
    <li>Administration Branch.</li>
    <li>Logistics Branch.</li>
    <li>Cooperatives, Resettlement and Estate Branch.</li>
    <li>Army Medical Services.</li>
    <li>Inspectorate and Audit.</li>
    <li>Policy Doctrines and Strategy Branch.</li>
  </ul>

  <h4>Functions</h4>

  <p>The functions include <span>:-</span></p>

  <ul>
    <li>
      To restore law and order in areas where internal security is threatened.
    </li>
    <li>
      Support civil authority in the maintenance of law and order whenever
      called upon.
    </li>
    <li>
      Participate in emergency, relief operations and disaster management.
    </li>
    <li>
      To provide troops for various united nations (UN) and African Union (Au)
      operations as and when called upon.
    </li>
    <li>Engage in developmental activities of the country.</li>
    <li>
      Perform any other duty as maybe directed by the government from time to
      time.
    </li>
  </ul>
</div>
