---
title: Zambia Air Force
layout: regular-page.njk
---

<div>
  <figure>
    <img
      src="/assets/logos/zambia-air-force-logo.webp"
      alt="Zambia air force roundel"
    />
    <figcaption class="figcap"><em>Zambian Air Force Roundel</em></figcaption>
  </figure>

  <p>
    The Zambia Air Force (ZAF) safeguards the sovereignty of our mother land
    against all enemy air threats and renders support to land forces in defence
    of the country. It is organized into six (6) departments as follows
    <span>:-</span>
  </p>

  <ul>
    <li>Operations.</li>
    <li>Technical services.</li>
    <li>Administration.</li>
    <li>Supply services.</li>
    <li>Army Medical Services.</li>
    <li>Training.</li>
    <li>Audit and inspectorate.</li>
  </ul>

  <h4>Functions</h4>

  <p>The functions are as follows <span>:-</span></p>

  <ul>
    <li>To defend the Zambian airspace against enemy air attacks.</li>
    <li>To support ground forces in operations.</li>
    <li>
      To render air transport support to civil authorities when need arises.
    </li>
    <li>
      To support and co-operate with state organs and state institutions in
      times of public emergencies and national disasters.
    </li>
    <li>
      Perform any other duties as may be directed by the government from time to
      time.
    </li>
  </ul>

  <p>
    Click the link to visit the official website of the :
    <a href="https://www.airforce.mil.zm/" target="_blank">Zambia Air Force</a>
  </p>
</div>
