---
title: Home Page
layout: base.njk
---
<!-- Main -->

<div class="marquee">
  <p>
    <span>CORE VALUES:</span> INTEGRITY . HONESTY . OBJECTIVITY .
    IMPARTIALITY . LOYALTY . RESPECT . ACCOUNTABILITY . EXCELLENCE .
    CONFIDENTIALITY . SELFLESSNCE
  </p>
</div>

<!-- Main Slide -->
<section class="main-slide">
  <div class="flag-line"><hr><hr><hr><hr></div>
  <div class="slide-grid">
      <div class="slide-show-container">
        <div class="mySlides fade">
        <img
            src="./assets/images/slide-show/Zambia_US_PPE_Africom.jpg"
            alt="The US donates protective equipment against COVID19 to the Zambian Ministry of Defence."
        />
        <div class="caption">
            <q
            >The US donates protective equipment against COVID19 to the
            Zambian Ministry of Defence.</q
            >

            <div class="tool-tip-text">
            <p>
                The US donates protective equipment against COVID19 to the
                Zambian Ministry of Defence.
            </p>
            </div>
        </div>
        </div>

        <div class="mySlides fade">
        <img
            src="assets/images/slide-show/1280px-thumbnail.jpg"
            alt="Service members and delegates from more than 40 nations gather at the Zambian Army headquarters for the opening ceremony for Africa Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013"
        />
        <div class="caption">
            <q>
            Service members and delegates from more than 40 nations gather
            at the Zambian Army headquarters for the opening ceremony for
            Africa Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013
            </q>
            <div class="tool-tip-text">
            <p>
                Service members and delegates from more than 40 nations gather
                at the Zambian Army headquarters for the opening ceremony for
                Africa Endeavor (AE) 2013 in Lusaka, Zambia, Aug. 7, 2013
            </p>
            </div>
        </div>
        </div>

        <div class="mySlides fade">
        <img
            src="assets/images/slide-show/unnamed.jpg"
            alt="Zambian National Service women march on Women's day."
        />
        <div class="caption">
            <q> Zambian National Service women march on Women's day. </q>
            <div class="tool-tip-text">
            <p>Zambian National Service women march on Women's day.</p>
            </div>
        </div>
        </div>

        <div class="mySlides fade">
        <img
            src="assets/images/slide-show/Lungu-and-air-force-Gen-Eric-Chimese-620x400.jpg"
            alt="President Edgar Lungu with Air Force Commander Lt Gen Eric Chimese at the official opening of Zambia airforce L15 Flight Simulator Centre at ZAF Lusaka Base and Trainer aircrafts."
        />
        <div class="caption">
            <q>
            President Edgar Lungu with Air Force Commander Lt Gen Eric
            Chimese at the official opening of Zambia airforce L15 Flight
            Simulator Centre at ZAF Lusaka Base and Trainer aircrafts.
            </q>
            <div class="tool-tip-text">
            <p>
                President Edgar Lungu with Air Force Commander Lt Gen Eric
                Chimese at the official opening of Zambia airforce L15 Flight
                Simulator Centre at ZAF Lusaka Base and Trainer aircrafts.
            </p>
            </div>
        </div>
        </div>

        <div class="mySlides fade">
        <img
            src="assets/images/slide-show/maxresdefault.jpg"
            alt="A delegation headed by the Deputy Commander of the Army and Chief of Staff of the Zambian Army, General Dennis Sitali Alibuzwi, paid a courtesy visit on Nov. 10, 2020 to the chiief of MINUSCA, Mankeur Ndiaye."
        />
        <div class="caption">
            <q>
            A delegation headed by the Deputy Commander of the Army and
            Chief of Staff of the Zambian Army, General Dennis Sitali
            Alibuzwi, paid a courtesy visit on Nov. 10, 2020 to the chiief
            of MINUSCA, Mankeur Ndiaye.
            </q>
            <div class="tool-tip-text">
            <p>
                A delegation headed by the Deputy Commander of the Army and
                Chief of Staff of the Zambian Army, General Dennis Sitali
                Alibuzwi, paid a courtesy visit on Nov. 10, 2020 to the chiief
                of MINUSCA, Mankeur Ndiaye.
            </p>
            </div>
        </div>
        </div>

        <div class="mySlides fade">
        <img
            src="assets/images/slide-show/zambia-air-force-zaf.jpg"
            alt="Induction ceremony of Zambia’s new L-15 aircraft by His His Excellence Mr. Edgar Lungu."
        />
        <div class="caption">
            <q>
            Induction ceremony of Zambia’s new L-15 aircraft by His His
            Excellence Mr. Edgar Lungu.
            </q>
            <div class="tool-tip-text">
            <p>
                Induction ceremony of Zambia’s new L-15 aircraft by His His
                Excellence Mr. Edgar Lungu.
            </p>
            </div>
        </div>
        </div>

        <div class="mySlides fade">
        <img
            src="assets/images/slide-show/2b52ad_1866d139bdfc4b74a8be1ec81dfd0191_mv2.jpg"
            alt="His Excellence Mr. Hakahinde Hichilema given a guard of honour by the Zambian Army on his inaguaration ceremony."
        />
        <div class="caption">
            <q>
            His Excellence Mr. Hakahinde Hichilema given a guard of honour
            by the Zambian Army on his inaguaration ceremony.
            </q>
            <div class="tool-tip-text">
            <p>
                His Excellence Mr. Hakahinde Hichilema given a guard of honour
                by the Zambian Army on his inaguaration ceremony.
            </p>
            </div>
        </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#8656;</a>
        <a class="next" onclick="plusSlides(1)">&#8658;</a>

        <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        </div>
    </div>
  </div>
  <div class="flag-line"><hr><hr><hr><hr></div>
</section>

<!-- About ministry -->
<section class="about-ministry margin-top-bottom">
  <div class="inner-about-ministry-div">
    <div>
      <div class="welcome-container">
        <div>
          <h2 class="title--welcome-container">
            WELCOME TO THE OFFICIAL WEBSITE OF THE MINISTRY OF DEFENCE
          </h2>
        </div>
        <div>
          <p class="text-body--welcome-container">
            The Ministry of Defence is charged with the critical
            responsibility of preserving, protecting and defending the
            sovereignty and territorial integrity of Zambia for the sole
            purpose of ensuring the country, its citizens and residents
            are safeguarded from both internal and external aggression.
            The Ministry of Defence draws its mandate from the Government
            Gazette Notice No.547 of 2004, and is accordingly responsible
            for
            <a href="pages/about/about-the-ministry"
              >Read More...</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="mini-slide-show">
      <div>
        <figure class="myMinSlides fade">
          <img
            src="./assets/images/min-slide-show/stop-the-violence-against-women-and-girls.avif"
            alt="Stop the violence against women and girls"
          />
        </figure>

        <figure class="myMinSlides fade">
          <img
            src="./assets/images/min-slide-show/stop-the-violence-against-women.avif"
            alt="Stop the violence against women"
          />
        </figure>

        <figure class="myMinSlides fade">
          <img
            src="./assets/images/min-slide-show/stop-cyber-bullying-or-any-form-of-online-harassment.avif"
            alt="Stop cyber bullying or any form of online harassment"
          />
        </figure>

        <figcaption class="emphasis">
          <blockquote>
            <em class="figcap"
              >The Government of the Republic of Zambia Stands Against any
              form of abuse.</em
            >
          </blockquote>
        </figcaption>
      </div>
    </div>
  </div>
</section>

<!-- Latest News -->
<section class="regular-grid margin-top-bottom">
  <div class="orange-box">
    <div class="title-box--orange-box">
      <h2 class="title--orange-box">Latest News</h2>
    </div>

    <div class="regular-box--orange-box">
      <div class="content-box--orange-box">
        {%- for post in collections.lnsNew | reverse -%} {% include
        'article-snippet.njk' %} {%- endfor -%}
      </div>
      <div class="btn-box--orange-box">
        <a href="\pages\articles\all-latest-news" class="btn bg-btn--orange-box">See All</a>
      </div>
    </div>
  </div>
</section>

<!-- Latest Speeches and Press Releases -->
<section class="regular-grid margin-top-bottom">
  <div class="orange-box">
    <div class="title-box--orange-box">
      <h2 class="title--orange-box">
        Latest Speeches and Press Releases
      </h2>
    </div>

    <div class="regular-box--orange-box">
      <div class="content-box--orange-box">
        {%- for post in collections.lsprNew | reverse -%} {% include
        'article-snippet.njk' %} {%- endfor -%}
      </div>
    
    <div class="btn-box--orange-box">
      <a href="\pages\articles\all-latest-speeches-and-press-releases" class="btn bg-btn--orange-box">See All</a>
    </div>
  </div>
  </div>
</section>

<!-- Featured videos -->
<section class="regular-grid margin-top-bottom">
  <div class="orange-box">
    <div class="title-box--orange-box">
      <h2 class="title--orange-box">Featured Videos</h2>
    </div>
    
    <div class="regular-box--orange-box">
    <div class="content-box--orange-box">
      {%- for post in collections.fvNew | reverse -%} {% include
      'featured-video.njk' %} {%- endfor -%}
    </div>
    <div class="btn-box--orange-box">
      <a href="\pages\articles\all-featured-videos" class="btn bg-btn--orange-box">See All</a>
    </div>
  </div>
</section>

<!-- main index js -->
<script src="/script/mini-slides-show-script.js"></script>
<script src="/script/slides-show-script.js"></script>
<script src="/script/auto-slides-show-script.js"></script>
